/* Author: Lara Pantlitschko
MultiMediaTechnology / FH Salzburg
Purpose: MultiMediaProjekt 1 */

input {
    width: 300px;
    height: 30px;
}

#searchbutton {
    background-color: #A3BFA8;
    border: 1px solid #2E4057;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    margin: 0 0 0 20px;
}

#searchquery {
    border-radius: 8px;
    border: 2px solid #A3BFA8;
}

#singleresult {
    width: 600px;
    height: auto;
}

#results,
#mybooks {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: auto;
}

#resultbox {
    display: flex;
    justify-content: center;
}

#searchbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;
}

.book {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.book img {
    margin-right: 20px;
}

#detailsbutton {
    padding: 10px 8px 10px;
    width: 220px;
    outline: 0;
    border: 1px solid #2E4057;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
}

#detailsbutton:after {
    content: "";
    background-color: #A3BFA8;
    border-radius: 8px;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 5px;
    transition: 0.2s;
}

#detailsbutton:hover:after {
    top: 0px;
    left: 0px;
}

#bookDetails {
    display: flex;
    flex-direction: column;
    width: auto;
}

#detailsbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#detailsimg {
    display: flex;
    justify-content: center;
    width: 148px;
    height: 226px;
}

#description {
    width: 500px;
    height: auto;
}

#bookdetailsUser {
    padding: 40px;
    margin: 0 0 0 30px;
}

#commentbutton,
#addListButton {
    background-color: #A3BFA8;
    border: 1px solid #2E4057;
    border-radius: 8px;
    width: auto;
    height: auto;
    margin: 0 0 0 20px;
    padding: 5px 20px;
}





@media (max-width: 1070px) {
    #detailsbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 770px) {
    #searchbox {
        font-size: small;
        margin: 0 10px;
    }

    #resultbox {
        font-size: small;
        display: flex;
    }

    .book {
        display: flex;
        flex-direction: column;
    }

    #singleresult {
        width: auto;
    }

    #detailsbox {
        font-size: small;
    }

    #description {
        width: auto;
        height: auto;
        padding: 0 30px 0 0;
    }

    #bookDetails {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-left: 30px;
    }

    #detailsbox {
        align-items: flex-start;
        margin-left: 30px;
    }

    #bookdetailsUser {
        padding: 0;
    }
}

@media (max-width: 530px) {
    #bookDetails {
        margin-left: 10px;
    }

    #detailsbox {
        margin-left: 10px;
    }
}