/* Author: Lara Pantlitschko
MultiMediaTechnology / FH Salzburg
Purpose: MultiMediaProjekt 1 */

.loginbox {
    background-color: #A3BFA8;
    width: 500px;
    height: 450px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 0 0;
}

.login {
    padding: 10px 10px 10px;
    outline: 0;
    border: 1px solid #2E4057;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
}

.login:hover {
    background-color: #DED2D3;
}

.loginbuttondiv {
    margin: 50px 0 0 0;
}

.logintitle {
    background-color: #DED2D3;
    width: 500px;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
}

@media (max-width: 580px) {

    .loginbox,
    .logintitle,
    .loginbuttondiv {
        font-size: small;
    }

    .loginbox {
        width: 250px;
        height: auto;
        padding: 20px 30px;
        margin: 20px 0 0 0;
    }

    .logintitle {
        width: 250px;
        height: auto;
        padding: 0 30px;
    }

    .loginbuttondiv {
        margin: 30px 0 0 0;
    }

    input {
        width: 200px;
    }
}